@charset "ISO-8859-1";

/* styles.css */

body {
    background-color: #f0f8ff; /* Light Blue background color */
}

.navbar {
    background-color: #007bff;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

h1 {
    color: #007bff;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    width: 100%; /* Make the button fill the width */
    height: 100px; /* Set the height as needed */
    margin: 10px 0; /* Adjust margin for spacing */
    font-size: 18px; /* Adjust font size as needed */
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
